.info-box-number{
    word-wrap: break-word !important;
}

.modal-body{
    word-wrap: break-word !important;
}

/* tooltip */
/*
.tooltip{
    position: fixed;
    z-index: 999999999 !important;
}
*/

/* datatable */
table.dataTable tbody td{
    /*
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    */
    word-break: break-word !important;
    vertical-align: top;
}